
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// reset
input,
button,
select,
optgroup,
textarea {
  margin: 0; // Remove the margin in Firefox and Safari
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible; // Show the overflow in Edge
}

button,
select {
  text-transform: none; // Remove the inheritance of text transform in Firefox
}

@import '~wingcss/src/base.css';
@import '~wingcss/src/buttons.css';
@import '~wingcss/src/forms.css';
// @import '~wingcss/src/grid.css';
@import '~wingcss/src/links.css';
// @import '~wingcss/src/lists.css';
@import '~wingcss/src/misc.css';
// @import '~wingcss/src/nav.css';
// @import '~wingcss/src/tables.css';
@import '~wingcss/src/typography.css';
@import '~wingcss/src/util.css';

@import '~line-awesome/css/line-awesome.css';