a {
  color: #1f89e4;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  &:hover {
    color: $color-main;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}