.container(style="margin-top: 100px;")
  .text-center
    h1 {{this.code || $router.code || 404}}
    h2 {{title}}
  code(v-if="errorMessage")
    | {{ errorMessage }}
  .text-center.my-5.pb-5
    router-link(to="/").btn.btn-main Home

