@import './mixins';

// ui mixins
@mixin drop-shadow {
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.4));
}

@mixin hover() {
  @include breakpoint($desktop) {
    &.active,
    &:active,
    &:hover {
      @content;
    }
  }
  @include breakpoint($mobile-to-tablet) {
    &.active,
    &:active {
      @content;
    }
  }
}

@mixin default() {
  &:not(:hover) {
    @content;
  }

  @include breakpoint($mobile-to-tablet) {
    &:hover {
      @content;
    }
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-fit() {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

// Responsive by devices
@mixin mobile-small() {
  @include breakpoint($max: 360px) {
    @content;
  }
}

@mixin mobile() {
  @include breakpoint($max: 767px) {
    @content;
  }
}

@mixin mobile-to-tablet() {
  @include breakpoint($max: 1999px) {
    @content;
  }
}

@mixin tablet() {
  @include breakpoint($min: 768px, $max: 1999px) {
    @content;
  }
}

@mixin tablet-up() {
  @include breakpoint($min: 768px) {
    @content;
  }
}

@mixin desktop() {
  @include breakpoint($min: 1200px) {
    @content;
  }
}

@mixin desktop-small() {
  @include breakpoint($min: 1200px, $max: 1366px) {
    @content;
  }
}
